<a href="https://colab.research.google.com/github/SobanAliAwan/PYTHON-FUNDAMENTALS/blob/main/PYTHON_FUNDAMENTALS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.OPERATORS

1.   Arithematic operators
2.   Relational operators
3.  Logical operators
4.  Bitwise operators
5.  Assignment operator
6.  Membership operators

In [ ]:
# ARITHEMATIC OPERATORS
a=10
b=20
print("a+b=",a+b) #addition
print("a-b=",a-b) #subtraction
print("a*b=",a*b) #multiplication
print("a/b=",a/b) #division
print("a%b=",a%b) #modulus(tells remindar value)
print("a//b=",a//b) #floor division(if quotient is in decimal then it will convert quotient into integer value)
print("a**b=",a**b) #exponent(power operator)

a+b= 30
a-b= -10
a*b= 200
a/b= 0.5
a%b= 10
a//b= 0
a**b= 100000000000000000000
a^b= 30

In [ ]:
# RELATIONAL OPERATORS
a=10
b=20
print("a>b=",a>b) #greater than
print("a<b=",a<b) #less than
print("a>=b=",a>=b) #greater than or equal to
print("a<=b=",a<=b) #less than or equal to
print("a==b=",a==b) #equal to
print("a!=b=",a!=b) #not equal to

a>b= False
a<b= True
a>=b= False
a<=b= True
a==b= False
a!=b= True

In [ ]:
# LOGICAL OPERATORS
print(1 and 0) #WHEN BOTH ARE ON IT WILL PRINT THE VALUE
print(1 or 0) #IF ONE OF THEM IS ON IT WILL PRINT THE VALUE
print(not 1) #ALTER 1 INTO 0 AND 0 INTO 1

0
1
False

In [ ]:
# BITWISE OPERATORS
print(2 & 3) #AND
print(2 | 3) #OR
print(2 ^ 3) #XOR
print(~ 2) #NOT
print(2 >> 2) #RIGHT SHIFT
print(2 << 2) #LEFT SHIFT

2
3
1
-3
0
8

In [ ]:
# ASSIGNMENT OPERATOR

a = 2
a += 2 #a=a+2
print(a)
a *= 2 #a=a*2
print(a)
a -= 2 #a=a-2
print(a)
a /= 2 #a=a/2
print(a)
a %= 2 #a=a%2
print(a)
a //= 2 #a=a//2
print(a)
a **= 2 #a=a**2
print(a)

4
8
6
3.0
1.0
0.0
0.0

In [ ]:
# MEMBERSHIP OPERATOR
print('p' in 'python')
print('p' not in 'python')

True
False

In [ ]:
# FIND THE SUM OF A THREE DIGIT NUMBER ENTERED BY THE USER
num = int(input('ENTER THE THREE DIGIT NUMBER: '))
#345%10=5
a = num % 10
#345//10=34
num = num // 10
#34%10=4
b = num % 10
#34//10=3
num = num // 10
#3%10=3
c = num % 10
print('SUM OF THREE DIGIT NUMBER IS: ',a+b+c)

ENTER THE THREE DIGIT NUMBER: 123
SUM OF THREE DIGIT NUMBER IS:  6

2.IF-ELSE IN PYTHON

In [ ]:
# LOGIN PROGRAMME AND IDENTATION --> when shift to another line leave some space
# EMAIL: SOUBANALIAWAN@GMAIL.COM
# PASSWORD: 1234

email = input('ENTER YOUR EMAIL: ')
password = input('ENTER YOUR PASSWORD: ')

if email == 'soubanaliawan@gmail.com' and password == '1234':
  print('YOU HAVE SUCCESSFULYY LOGGED IN')
else:
  print('INVALID CREDENTIALS')

ENTER YOUR EMAIL: 123
ENTER YOUR PASSWORD: 12
INVALID CREDENTIALS

In [ ]:
# WHEN TWO CONDITIONS ARE THERE THEN USE IF-ELSE
# WHEN MORE THEN TWO CONDITIONS THEN USE IF-ELIF-ELSE

email = input('ENTER YOUR EMAIL: ')
password = input('ENTER YOUR PASSWORD: ')

if email == 'soubanaliawan@gmail.com' and password == '1234':
  print('you have successfuly logged in ')

elif email == 'soubanaliawan@gmail.com' and password != '1234':
  print('password is incorrect')
  password = input('try again')
  if password == '1234':
    print('finally correct')
  else:
    print('still incorrect')
else:
  print('invalid credentials')

ENTER YOUR EMAIL: soubanaliawan@gmail.com
ENTER YOUR PASSWORD: 12
password is incorrect
try again1234
finally correct

In [ ]:
email = input('ENTER YOUR EMAIL: ')
password = input('ENTER YOUR PASSWORD: ')

# Case 1: Correct email and password
if email == 'soubanaliawan@gmail.com' and password == '1234':
    print('You have successfully logged in.')

# Case 2: Correct email, wrong password
elif email == 'soubanaliawan@gmail.com' and password != '1234':
    print('Password is incorrect.')
    password = input('ENTER YOUR PASSWORD AGAIN: ')
    if password == '1234':
        print('Finally correct.')
    else:
        print('Still incorrect.')

# Case 3: Wrong email, correct password
elif email != 'soubanaliawan@gmail.com' and password == '1234':
    print('Incorrect email.')
    email = input('ENTER YOU EMAIL AGAIN: ')
    if email == 'soubanaliawan@gmail.com':
        print('Finally correct.')
    else:
        print('Still incorrect.')

# Case 4: Both email and password are incorrect
elif email != 'soubanaliawan@gmail.com' and password != '1234':
    print('Incorrect email and password.')
    email = input('ENTER YOUR EMAIL AGAIN: ')
    password = input('ENTER YOUR PASSWORD AGAIN: ')
    if email == 'soubanaliawan@gmail.com':
        if password == '1234':
            print('Finally correct.')
        else:
            print('Still incorrect password.')
    else:
        print('Still incorrect email.')

# Fallback case (not really needed, but good practice)
else:
    print('Invalid credentials.')

ENTER YOUR EMAIL: sobanaliawan@gmail.com
ENTER YOUR PASSWORD: 123
Incorrect email and password.
Try again: soubanaliawan@gmail.com
Try again: 1234
Finally correct.

In [ ]:
# SMALLEST OF THREE NUMBERS
a = int(input('ENTER THE FIRST NUMBER: '))
b = int(input('ENTER THE SECOND NUMBER: '))
c = int(input('ENTER THE THIRD NUMBER: '))

if a < b and a < c :
  print("Smallest num is: ",a)

elif b < a and b < c :
  print("Smallest num is: ",b)

else:
  print("Smallest num is: ",c)

ENTER THE FIRST NUMBER: 23
ENTER THE SECOND NUMBER: 45
ENTER THE THIRD NUMBER: 16
Smallest num is:  16

In [ ]:
# LARGEST OF THREE NUMBERS
a = int(input('ENTER THE FIRST NUMBER: '))
b = int(input('ENTER THE SECOND NUMBER: '))
c = int(input('ENTER THE THIRD NUMBER: '))

if a > b and a > c :
  print("Largest num is: ",a)

elif b > a and b > c :
  print("Largest num is: ",b)

else:
  print("Largest num is: ",c)

ENTER THE FIRST NUMBER: -12
ENTER THE SECOND NUMBER: -23
ENTER THE THIRD NUMBER: -4
Largest num is:  -4

In [ ]:
# MENU DRIVEN CALCULATOR

fnum = int(input('ENTER THE FIRST NUMBER: '))
snum = int(input('ENTER THE SECOND NUMBER: '))

print('PRESS 1 FOR ADDITION')
print('PRESS 2 FOR SUBTRACTION')
print('PRESS 3 FOR MULTIPLICATION')
print('PRESS 4 FOR DIVISION')
print('PRESS 5 FOR MODULUS')
print('PRESS 6 FOR FLOOR DIVISION')
print('PRESS 7 FOR EXPONENT')

option = int(input('ENTER YOUR OPTION: '))

if option == 1:
  print('ADDITION OF TWO NUMBERS IS: ',fnum + snum)

elif option == 2:
  print('substraction of two numbers is : ',fnum - snum)

elif option == 3:
  print('multiplication of two numbers is : ',fnum * snum)

elif option == 4:
  print('division of two numbers is : ',fnum / snum)

elif option == 5:
  print('modulus of two numbers is : ',fnum % snum)

elif option == 6:
  print('floor division of two numbers is : ',fnum // snum)

elif option == 7:
  print('exponent of two numbers is : ',fnum ** snum)

else:
  print('INVALID OPTION')

ENTER THE FIRST NUMBER: 23
ENTER THE SECOND NUMBER: 46
PRESS 1 FOR ADDITION
PRESS 2 FOR SUBTRACTION
PRESS 3 FOR MULTIPLICATION
PRESS 4 FOR DIVISION
PRESS 5 FOR MODULUS
PRESS 6 FOR FLOOR DIVISION
PRESS 7 FOR EXPONENT
ENTER YOUR OPTION: 6
floor division of two numbers is :  0

3. MODULES IN PYTHON

In [ ]:

# A module in Python is just a file containing Python code — functions, classes, or variables — that you can reuse in other programs.
# MODULES:

# 1.MATH
import math
math.factorial(5)
math.sqrt(149)

# 2.KEYWORDS
import keyword
print(keyword.kwlist)

# 3.RANDOM
import random
print(random.randint(1,100))

# 4. DATETIME
import datetime
print(datetime.datetime.now())

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
78
2025-06-21 10:59:39.415871

4. LOOPS IN PYTHON

  *  WHILE LOOP
  * FOR LOOP

In [ ]:
# PROGRAMME TO PRINT THE TABLE
num = int(input('ENTER THE NUMBER'))
i = 1
while i<11:
  print(num,"*",i,"=",num * i)
  i+=1

ENTER THE NUMBER12
12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [ ]:
# while loop with else
x = 1
while x < 11:
  print(x)
  x+=1
else:
  print('LIMIT CROSSED')

1
2
3
4
5
6
7
8
9
10
LIMIT CROSSED

In [ ]:
# GUESSING GAME
# GENERATE A RANDOM INTEGER BETWEEN 1 AND 100
import random
Jackpot = random.randint(1,100)
guess = int(input('GUESS THE NUMBER '))
counter = 1
while guess != Jackpot:
  if guess < Jackpot:
    print('Guess higher ')
  else:
    print('Guess lower ')
  guess = int(input('GUESS THE NUMBER '))
  counter += 1
else:
  print('YOU GUESSED IT RIGHT IN',counter,'ATTEMPTS')

GUESS THE NUMBER 12
Guess higher
GUESS THE NUMBER 20
Guess higher
GUESS THE NUMBER 40
Guess lower
GUESS THE NUMBER 30
Guess higher
GUESS THE NUMBER 35
Guess lower
GUESS THE NUMBER 34
YOU GUESSED IT RIGHT IN 6 ATTEMPTS

In [ ]:
# FOR LOOP DEMO

for i in range(1,11,1): #(start,end,difference)
  print(i)

for i in range(10,0,-1): #(start,end,difference)
  print(i)

1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1

PROBLEM: THE CURRENT POPULATION OTF THE TOWN IS 10000 AND IT IS INREASING AT THE RATE OF 10% EACH YEAR. YOU HAVE TO WRITE A PROGRAMME TO FIND OUT THE POPULATION AT THE END OF EACH YEAR OF AST 10 YEARS

In [ ]:
current_pop = 10000
for i in range(10,0,-1):
  print(i,current_pop)
  current_pop = current_pop - 0.1*current_pop

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

In [2]:
n = int(input('ENTER THE NUMBER: '))
result = 0
fact = 1
for i in range(1,n+1):
  fact = fact * i
  result = result + i/fact
print(result)

ENTER THE NUMBER: 5
2.708333333333333

5.NESTED LOOPS

In [4]:
for i in range(1,5):
  for j in range(1,5):
    print (i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [9]:
row = int(input('ENTER THE NUMBER of rows: '))

for i in range(1, row + 1):
    for j in range(1, i + 1):
        print('*', end='')
    print()  # Move to the next line after each row

ENTER THE NUMBER of rows: 5
*
**
***
****
*****

LOOP CONTROL STATEMENTS

In [16]:
# BREAK
for i in range(1,11):
  if i == 6:
    break
  print(i)
# CONTINUE
# PASS

1
2
3
4
5

In [17]:
lower = int(input('ENTER THE LOWER RANGE: '))
upper = int(input('ENTER THE UPPER RANGE: '))

for i in range(lower,upper+1):
  if i > 1:
    for j in range(2,i):
      if i % j == 0:
        break
    else:
      print(i)

ENTER THE LOWER RANGE: 10
ENTER THE UPPER RANGE: 20
11
13
17
19

In [2]:
# Continue statement skips the code and move on
for i in range(1,11):
  continue
  print(i)