<a href="https://colab.research.google.com/github/SobanAliAwan/PYTHON-FUNDAMENTALS/blob/main/SESSION_1_(PYTHON_FUNDAMENTALS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.PYTHON OUTPUT

In [2]:
#python is case sensitive language
print('HELLO WORLD')

HELLO WORLD

In [3]:
print("SOBAN ALI AWAN")

SOBAN ALI AWAN

In [4]:
print(1,2,3,4,5,"ABC",'XYZ',1.2,1.000234,True)

1 2 3 4 5 ABC XYZ 1.2 1.000234 True

In [5]:
#separator
print(1,2,3,4,5,"ABC",'XYZ',1.2,1.000234,True, sep='/')

1/2/3/4/5/ABC/XYZ/1.2/1.000234/True

In [8]:
#end operator
print('Helo', end='-')
print('WORLD')

Helo-WORLD

2.DATA TYPES

In [6]:
#integer data type
print(8)
#can print upto 1*10^309 integer value
print(1e309)

#float data type
print(1.21)
print(1.7e309)

#boolean data type
print(True)
print(False)
#not inclosed in single commas that means boolean is not text

#text/string datatype
print('soban ali awan')

#complex
print(2+6j)

#list/array
print([1,2,3,4,5])

#tupple
print((1,2,3,4,5))

#set
print({1,2,3,4,5})

#dictionary also knowns as (KEY VALUE PAIR)
print({'Name':'SOBAN','Gender':'Male'})

8
inf
1.21
inf
True
False
soban ali awan
(2+6j)
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'Name': 'SOBAN', 'Gender': 'Male'}

In [8]:
#typpe function
#it detects the data type that you have putted in
type('soban ali awan')

str

3.VARIABLES

In [11]:
#Variables are containers that stores data or they are the containers for the future use
name = 'soban ali awan'
print(name)

a = 5
b = 10
print(a*b)

#And this is called DYNAMIC TYPING where you dont mentioned the data type of the variable
#and it is one of the sublime property of python

soban ali awan
50

In [13]:
#DYNAMIC BINDING
#Means python do not have fixed variables that on updation change or update the value to the newest value
a = 10
print(a)

a = 'soban ali awan'
print(a)

10
soban ali awan

In [14]:
#methods of declaring variables
a = 1
b = 2
c = 3
print(a,b,c)

a,b,c = 1,2,3
print(a,b,c)

a=b=c = 5
print(a,b,c)

1 2 3
1 2 3
5 5 5

4.KEYWORDS AND IDENTIFIERS

In [15]:
#Keywords are the cartian specialized words used for specific actions in programming or words reserved by compiler or interpreter which they use for self understanig for action means conversion of high level code to machine level code
#There are 32 keywords in python
#Creating names in programming is termed as identifiers

5.USER INPUT

In [18]:
input('WHAT IS YOUR NAME ')

WHAT IS YOUR NAME soban

'soban'

In [23]:
#FIRST PROGRAMME

#TAKE TWO NUMBERS FROM USER AND STORE IN IT VARIABLES
fnum = input('Enter the first number: ')
snum = input('Enter the second number: ')
#ADD THE TWO VARIABLES
result = int(fnum) + int(snum) #EXPLICIN TYPE CONVERSION: WHERE YOU TELL THE INTERPRETER TO CONVERT ONE DATA TYPE INTO ANOTHER
#PRINT THE RESULT
print(result)
print(type(fnum)) #CREATE NEW OBJECT FOR THE CONVERTED DATA TYPE DONOT ALTER THE ORIGINAL DATA TYPE

Enter the first number: 1
Enter the second number: 2
3
<class 'str'>

7.LITERALS

In [ ]:
# Raw value that is stored in variable is called as literal
a = 0b1010 # binary literal (ob tells interpreter that next to ob is binary number)
b = 100 #decimal literal
c = 0o310 #octal literal (o tells interpreter that next to o is octal number)
d = 0x12c #hexadecimal literal (x tells interpreter that next to x is hexadecimal number)

# Float literal
float_1 = 10.5
float_2 = 1.5e2 #1.5*10^2
float_3 = 1.5e-3 #1.5*10^-3